"""create blog table

Revision ID: {revision_id}
Revises: {revises}
Create Date: {create_date}
"""
from alembic import op
import sqlalchemy as sa

# revision identifiers
revision = '{revision_id}'
down_revision = {down_revision}
branch_labels = None
depends_on = None

def upgrade():
    op.create_table(
        'blog',
        sa.Column('id', sa.Integer, primary_key=True),
        sa.Column('title', sa.String(200), nullable=False),
        sa.Column('content', sa.Text, nullable=False)
    )

def downgrade():
    op.drop_table('blog')