[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "pgai"
description = "AI workflows in your PostgreSQL database"
dynamic = ["version", "dependencies"]
requires-python = ">=3.10"
readme = "README.md"
keywords = ["ai", "postgres"]
classifiers = [
  "License :: OSI Approved :: PostgreSQL License",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Database",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Typing :: Typed",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Operating System :: POSIX",
  "Operating System :: MacOS",
  "Operating System :: POSIX :: Linux",
]

[project.urls]
Homepage = "https://github.com/timescale/pgai"
Repository = "https://github.com/timescale/pgai"
"Bug Tracker" = "https://github.com/timescale/pgai/issues"
Documentation = "https://github.com/timescale/pgai/tree/main/docs"

[tool.setuptools.dynamic]
version = {attr = "pgai.__version__"}
dependencies = {file = "requirements.txt"}

[tool.setuptools.packages.find]
where = ["."]  # list of folders that contain the packages (["."] by default)
include = ["pgai*"]  # package names should match these glob patterns (["*"] by default)
namespaces = false  # to disable scanning PEP 420 namespaces (true by default)

[project.scripts]
vectorizer = "pgai.cli:run"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
