click==8.1.7
psycopg[binary]==3.2.1
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
pydantic==2.9.1
openai==1.44.0
python-dotenv==1.0.1
structlog==24.4.0
datadog-lambda
pgvector==0.3.3
tiktoken==0.7.0
typing_extensions==4.12.2
