name: pgai-quickstart
services:
  db:
    image: {{ db_docker_image }}
    environment:
      POSTGRES_PASSWORD: postgres
      {% for k, v in api_keys.items() %}
      {{ k }}: {{ v }}
      {% endfor %}
    ports:
      - "5432"
    volumes:
      - data:/home/postgres/pgdata/data
    {% if use_ollama is true %}
    command: [ "-c", "ai.ollama_host=http://ollama:11434" ]
    {% endif %}
  vectorizer-worker:
    image: {{ vectorizer_worker_docker_image }}
    environment:
      PGAI_VECTORIZER_WORKER_DB_URL: postgres://postgres:postgres@db:5432/postgres
      {% if use_ollama is true %}
      OLLAMA_HOST: http://ollama:11434
      {% endif %}
    command: [ "--poll-interval", "5s", "--log-level", "INFO", "--concurrency", "2" ]
  {% if use_ollama is true %}
  ollama:
    image: {{ ollama_docker_image }}
  {% endif %}
volumes:
  data:
