interactions:
- request:
    body: '{"input": ["post_1"], "model": "voyage-3-lite"}'
    headers:
    method: POST
    uri: https://api.voyageai.com/v1/embeddings
  response:
    body:
      string: '{"object":"list","data":[{"object":"embedding","embedding":[0.03319947,0.001144809,-0.010034969,-0.048637625,-0.004443962,-0.12449801,-0.042823024,0.073339343,-0.016277758,0.04185709,-0.005831372,-0.004865439,-0.019926837,-0.002718922,0.006135462,0.043681629,-0.036392417,-0.001413124,-0.066631474,0.040998481,0.034523156,0.019220274,-0.042715698,-0.007548586,0.04808199,0.015598026,0.021250522,0.002361169,0.055845227,-0.0193276,-0.012771779,-0.076666445,0.012069969,0.027663244,0.01291488,-0.091584742,0.028177513,0.079658151,-0.012109936,0.10696812,-0.0073[...]
