name: Check markdown links
on:
  pull_request:
    paths:
      - "**/*.md"
jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --accept '100..=103, 200..=299, 403, 429, 500' --root-dir $(pwd) .
          format: markdown
          jobSummary: true
