on:
  push:
    branches:
      - main
      - jascha/discord-bot-example

name: build-discord-bot-image


jobs:
  release-docker:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: timescale/pgai-discord-bot
          labels: |
            org.opencontainers.image.description=The demo discord pgai documentation RAG chatbot
            org.opencontainers.image.title=pgai-discord-bot
          tags: |
            type=raw,value=${{ github.sha }}
            type=raw,value=latest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKER_HUB_USERNAME }}
          password: ${{ secrets.ORG_DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:examples/discord_bot"
          build-contexts: |
            "docs={{defaultContext}}:docs"
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64